
body {
	background: #101010;
	font-family: Arial, sans-serif;
	color:white;
}

#title {
	text-align: center;
	font-size:2em;
}


#image1{
	margin-top: 1em;
	text-align: right;
	float:left;
	width: 48%;
}
#image2{
	margin-top: 1em;
	float:right;
	width: 48%;
}
